<html>
    <head>
        <link rel="stylesheet" href="./manage.css?v=1.0">
    </head>

    <body>
        <div class="container">
            <div class="header">
                <div class="menus flex-row">
                    <div class="menu left-border right-border">Quiz Bank</div>
                    <div class="menu right-border">Quiz Sets</div>
                </div>
            </div>

            <div class="footer">
                <div class="powered">Powered by EzcuteRobots 2023</div>
            </div>
        </div>
    </body>
</html>