<html>
    <head>
        <link rel="stylesheet" href="./manage.css?v=1.9.1">
    </head>

    <body>
        <div class="container">
            <div class="header">
                <div class="menus flex-row">
                    <a href="/" class="brand">QUIZ<span>MANAGER</span></a>
                    <a id="a-bank" href="./quiz-bank" class="menu left-border right-border">Quiz Bank</a>
                    <a id="a-set" href="./quiz-set" class="menu right-border">Quiz Sets</a>
                    <a id="a-publish" href="./quiz-publish" class="menu right-border">Publish</a>
                    <a id="a-monitor" href="./quiz-monitor" class="menu right-border">Monitoring</a>
                    <a id="a-bank" href="./quiz-bank" class="menu left-border right-border">MathWhiz</a>
                    <a id="a-bank" href="./quiz-bank" class="menu left-border right-border float-right">Logout</a>
                </div>
            </div>

            <%- include(page)%>
            <div class="footer">
                <div class="powered">::Powered by Ezcute Robots Sdn. Bhd. 2023</div>
            </div>
        </div>
    </body>
</html>