<div class="flex-column width-full height-100vh center">
    <div class="text-logo flex-row width-full center">
        <div class="text-secondary">QUIZ</div>
        <div class="text-white">MANAGER</div>
    </div>
</div>