<script src="https://code.jquery.com/jquery-3.7.0.min.js" integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
<script src="./assets/d3.v7.min.js"></script>

<div class="panel-body flex-column width-full">
    <h1>Dashboard</h1>
</div>

<script>
    $(document).ready(()=>{
        $('.menu').removeClass('selected');
        $('#a-monitor').addClass('selected');
    });
</script>